[package]
name = "affine-cloud"
edition = "2021"
version = "0.1.0"

[dependencies]
axum = { version = "^0.6.1", features = ["ws"] }
dotenvy = "0.15.6"
futures = "0.3.25"
http = "0.2.8"
jsonwebtoken = "8.1.1"
serde = { version = "1.0.145", features = ["derive"] }
sqlx = { version = "0.6.2", features = [
    "chrono",
    "macros",
    "postgres",
    "runtime-tokio-rustls",
] }
tokio = { version = "1.21.2", features = [
    "macros",
    "rt-multi-thread",
    "signal",
] }
tower-http = { version = "0.3.4", features = ["cors"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
