[package]
name = "keck"
version = "0.1.0"
authors = ["DarkSky <darksky2048@gmail.com>"]
edition = "2021"
license = "AGPL-3.0-only"

[dependencies]
anyhow = "^1.0.64"
async-lock = "^2.5.0"
chrono = "^0.4.22"
futures = "^0.3.24"
http = "^0.2.8"
lazy_static = "^1.4.0"
serde_json = "^1.0.85"
tower = "^0.4.13"
thiserror = "^1.0.34"

[dependencies.axum]
version = "^0.5.16"
features = ["ws"]

[dependencies.fern]
version = "0.6.1"
features = ["colored"]

[dependencies.log]
version = "^0.4.17"
features = ["max_level_trace", "release_max_level_info"]

[dependencies.serde]
version = "^1.0.144"
features = ["derive"]

[dependencies.sqlx]
version = "^0.6.1"
features = ["chrono", "macros", "migrate", "runtime-tokio-rustls", "sqlite"]

[dependencies.tower-http]
version = "^0.3.4"
features = ["cors", "fs"]

[dependencies.tokio]
version = "^1.21.1"
features = ["macros", "rt-multi-thread"]


[dependencies.utoipa]
version = "^2.1.0"
features = ["axum_extras"]

[dependencies.utoipa-swagger-ui]
version = "^2.0.1"
features = ["axum"]

[dependencies.uuid]
version = "1.1.2"
default-features = false
features = ["v4"]

[dependencies.yrs]
path = "../../libs/datasource/yrs"
features = ["serde"]

[profile.dev.package.sqlx-macros]
opt-level = 3
